@import "../variables";

$bg_primary: $accent_1;
$bg_primary_hover: adjust-color(
  $color: $bg_primary,
  $lightness: -10%,
);
$bg_primary_active: adjust-color(
  $color: $bg_primary,
  $lightness: -20%,
);
$border_primary: $accent_1;
$bg_secondary: transparent;
$bg_secondary_hover: adjust-color(
  $color: $bg_1,
  $alpha: -0.9,
);
$bg_secondary_active: adjust-color(
  $color: $bg_1,
  $alpha: -0.8,
);
$color_secondary: $bg_1;

$border_secondary: $bg_1;

.btn {
  padding: 19px 0px;
  width: 23.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  font: {
    size: 1.7rem;
    weight: 400;
  }
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 1rem;
    width: 100%;
  }

  text-transform: uppercase;
  color: $font_2;

  transition: all 0.3s ease-in-out;

  &--primary {
    background-color: $bg_primary;
    border: 1px solid $bg_primary;

    &:hover {
      background-color: $bg_primary_hover;
      border: 1px solid $bg_primary_hover;
    }

    &:active {
      transition: all 0.1s ease-in-out;
      background-color: $bg_primary_active;
      border: 1px solid $bg_primary_active;
    }
  }
  &--secondary {
    background-color: $bg_secondary;
    color: $color_secondary;
    border: 1px solid $border_secondary;

    &:hover {
      background-color: $bg_secondary_hover;
    }

    &:active {
      transition: all 0.1s ease-in-out;
      background-color: $bg_secondary_active;
    }
  }
}
