@import "variables";
@import "types";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

body {
  background-color: #000;
  color: #fff;
}
