// ===================================================== COLORS
$bg_1: #fcf9f8;
$bg_2: #e4dada;
$bg_3: #a48c8c;
$bg_s_1: #584949;
$bg_s_2: #211e1e;
$bg_overlay: #a58d8d99;

$accent_1: #bf0d0d;
$accent_2: #211e1e;

$font_1: #000000;
$font_2: #ffffff;
